@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700');

@primary-font: 'Poppins',sans-serif;

@white-accent: #fff;
@success: #34bfa3;
@error: #f4516c;

// Gray Colors
@gray-base: #000;
@gray-darker : lighten(@gray-base,13.5%); // #222
@gray-dark : lighten(@gray-base, 20%); // #333
@gray : lighten(@gray-base, 31.7%); // #515151 text use
@gray-light : lighten(@gray-base, 46.7%); // #777
@gray-lighter : lighten(@gray-base, 84.6%); // #d8d8d8 use for border
@gray-light-text: lighten(@gray-base, 66.2%); // #a9a9a9

// Brand color
@primary-color: #203C7C; //Blue
@secondary-color: #1d1d1d; // Dark Gray
@tertiary-color: #A8A8A8; // Gray for mate text

.ui.cards.practice-page_container {
    margin-left: -15px;
    margin-right: -15px;
    .ui.dropdown .menu {
        width: 100%;
        border-radius: 4px;
    }
    .figmd-list_view {
        margin: 15px;
        padding: 10px;
        width: ~'calc(25% - 30px)';
        max-width: none;


        @media (max-width:1524px )and(min-width:1160px){
            width: ~'calc(33.33% - 30px)';
        }

        @media (max-width:1159px )and(min-width:800px){
            width: ~'calc(50% - 30px)';

        }

        @media (max-width:799px ){
            width: ~'calc(100% - 30px)';
            max-width: 450px;
            margin: 15px auto;
        }

        >.content {
            border-top: 0px;
            padding: 5px;
        }

        .status-label--position {
            transform: rotate(45deg);
            position: absolute;
            top: 11px;
            right: 0;
            left: 11px;
        }

        .spractice--card_body {

            .practice-card--header {
                margin: 0 -1rem;

                h3.meta.singlecard__group {
                    margin: 0;
                    padding: 0 0 4px;

                    span.singlecard__id {
                        font-size: 14px;
                        font-weight: 400;
                    }
                }

                span.singlecard-name {
                    font-size: 16px;
                    font-weight: 400;
                }

                .description {
                    margin: 4px 0 0 !important;

                    .ui.circular.label.singlecard-status__circular {
                        font-size: 10px;
                        padding: 4px 15px !important;
                        margin: 0;
                        font-weight: normal;
                        line-height: normal;
                    }
                }
                .image.logo-practice {
                    flex: 0 0 70px;
                    width: 70px;
                }
                .singlecard-payment__status {
                    font-size: 10px;
                    padding: 2px 10px !important;
                    font-weight: normal;
                    min-height: inherit;
                    border-radius: 10px;
                    line-height: normal;
                }
                .singlecard-stamp {
                    height: 14px;
                    width: 14px;
                }
                .ui.items.practice-card_group {
                    width: 100%;
                }
            }

            p.singleCard__address_detail {
                margin: 9px 0 6px !important;
                font-size: 14px;
                font-weight: normal;
                line-height: normal;
            }
            .singlecard-call__icon {
                transform: rotate(90deg);
                margin-right: 10px;
            }
            .content.singlecard__group--content {
                padding-left: 15px !important;
            }
            .singleCard-contact_details {
                margin: -10px 0;
            }
        }
        .ui.grid.practice--card_body {

            .ui.grid.practice-card--header {
                display: flex;
                padding: 0 0 15px;
                .ui.items.logo-practice {
                    width: 70px;
                    height: 70px;
                    border: solid 1px #000;
                }
                .practice-inline_info {
                    display: inline-block;
                    vertical-align: middle;
                }
                .singlecard-status__circular {
                    padding: 6px 10px !important;
                }
            }
            .ui.label.singlecard-address {
                font-weight: 700;
            }
        }
        .practice--card_footer {
            padding: 8px 0;
            .singlecard-count {
                font-weight: 700;
                font-size: 20px;
            }
            .provider_groups {
                font-size: 12px;
                margin: 0 0 0.1em;
            }
            .practice--card-footer__columns {
                text-align: center;
                border-right: solid 1px #d5d5d5;
                padding: 0 !important;
                &:last-child {
                    border-right: 0;
                }
            }
        }
        .ui.grid.export-container {
            text-align: right;
            display: block;
            padding: 0 15px;
        }
        .export-dropdown {
            padding: 7px 0;
            text-align: right;
        }
    }
}
